body{
    font-family: 'Montserrat', sans-serif;
}

.container-fluid{
    padding: 3% 15%;
}

#title{
    background-color: #ff4c68;
    color: #FFF;
}

#title h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    font-style: normal;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

#title .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

/* Download Button*/

.download-button{
    margin: 5% 3% 5% 0;
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
}

#features{
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.feat-icon{
    color: #ef8172;
    margin-bottom: 2rem;
}

.feat-icon:hover{
    color: #ff4c68;
}